<ion-nav-view class="margin-top">
  <ion-view view-title="Home">
    <ion-content>
      <form ng-submit="doLogin()">
        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="Correo o Nombre de Usuario" ng-model="loginData.email">
          </label>
          <label class="item item-input">
            <input type="password" placeholder="Contraseña" ng-model="loginData.password">
          </label>
          <label class="item">
            <button class="button button-block button-positive" type="submit">Iniciar</button>
          </label>
          <label class="item">
            <button class="facebook-sign-in button button-block" ng-click="doFacebookLogin($event)">Iniciar con Facebook</button>
          </label>
        </div>
      </form>
    </ion-content>
  </ion-view>
</ion-nav-view>
